.about

  %h1 What is AutoFocus?

  %p
    AutoFocus is a to-do system originally meant for pen and paper. The idea is
    to brain dump all your to-do's into one list and pick one item to focus on
    at a time.

  %p
    You work on your "focused item" either until you are done or until you just
    feel like stopping. Then you choose a new item to focus on.

  %p
    You can read more about it in this
    = link_to "LifeHacker article", "https://lifehacker.com/the-super-simple-autofocus-to-do-list-1785295828"
    \.
