.items-list {
  display: flex;
  justify-content: flex-start;
  cursor: default;
  width: 500px;
  margin: auto;

  ul {
    width: 100%;
  }

  li {
    display: flex;
    align-items: center;
    padding: 7px 5px;
    margin-bottom: 5px;
    line-height: 15px;
    &:hover {
      background-color: transparentize($teal, 0.9);
    }
  }
}

.to-do-item {
  &:hover {
    .item-actions a {
      opacity: 1;
    }
  }
}

.item-actions {
  display: inline-block;
  min-width: 100px;
  a {
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 1px 5px;
  }
}

.current-focus {
  font-size: 30px;
  width: 600px;
  margin: 35px auto;
  display: flex;
  align-items: center;
}

a.focused-star {
  opacity: 1;
  color: $yellow;
  &:hover {
    color: $teal;
    .fa-star:before {
      font-weight: 100;
    }
  }
}

a.unfocused-star {
  &:hover {
    color: $yellow;
    .fa-star:before {
      font-weight: 600;
    }
  }
}

.completed-list {
  h3 {
    margin-top: 25px;
  }
}
