.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  .title {
    font-size: 22px;
  }

  .nav-links {
    div {
      display: inline-block;

    }
    a {
      margin: 0 5px;
    }
  }
}
