body {
  font-family: "Arial Black", sans-serif;
}

.main-container {
  max-width: 900px;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  @include action-link;
  text-decoration: none;
}

.center {
  text-align: center;
}

.greyed-out {
  color: $grey;
}
